// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {

	width: 90%;
	margin: 0 auto;
	font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
   	color: black;
    border-bottom: 4px solid #394047;
   

}

.nav {
	width: 70%;
    font-family: 'Maven Pro', sans-serif;
    float: right;
    margin: 7px;
    word-spacing: 10px;
   
    
}

a:hover
{
color:orange;
}

.title {
width: 25%;
margin: 20px;
font-size: 20px;
}

